VITE_AUTH_BYPASS="false"                       # Bypass auth check for local development
BACKEND_URL="http://host.docker.internal:8000" # Backend URL for local development (used by the backend proxy)
